<%- include header %>
<%posts.forEach(function (post,index) {%>
 <div class="row">
  <div class="col-sm-2"> 标题 :<a href="#"> <%=post.title%></a> </div>
  <div class="col-sm-2">作者 :<a href="#"><%=post.name%></a></div>
  <div class="col-sm-2">日期 :<%=post.time.minute%></div>
 </div>
 <div class="row"><div class="col-sm-6"><%-post.post%></div> </div>
<%});%>
<%- include footer%>
