<%- include header %>
<%posts.forEach(function (post,index) {%>
 <div class="row">
  <div class="col-sm-1">标题 :</div>
  <div class="col-sm-2"> <a href="#"> <%=post.title%></a> </div>
  <div class="col-sm-1">作者 :</div>
  <div class="col-sm-2"><a href="#"><%=post.name%></a></div>
  <div class="col-sm-2"><%=post.time.minute%></div>
 </div>
 <div class="row"><div class="col-sm-6"><%-post.post%></div> </div>
<%});%>
<%- include footer%>
